.skills .box{
    padding: 20px;
    margin-left: 10px;
    margin-right: 10px;
}
.skills .box h2{
    margin: 20px 0;
}

.skills .box p{
    word-spacing: 2px;
    transition: 0.5s;
}

.box i {
    font-size: 30px;
    margin-top: 20px;
    transition: 0.5s;
    opacity: 0;
}
.box:hover p{
    color:white;
}
.box:hover i {
    opacity:1;
    color:white;
}
@media (max-width:768px) {
    .grid {
        display: flex;
        flex-direction: column;
    }
    .box {
        margin:25px;
    }
}