* {
  padding:0;
  margin: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: #ecd0d3;
}

Container {
  max-width:95%;
  margin:auto;
}

.dflex {
  display: flex;
  justify-content: space-between;
}
.fflex {
  display: flex;
}
a {
  text-decoration: none;
  color:black;
}
li {
  list-style: none;
}

.uppercase {
  text-transform: uppercase;
}

.capitalize {
  text-transform: capitalize ;
}

button {
  border:none;
  outline:none;
  background-color:none;
}
.btn-shadow {
  padding: 18px 25px;
  border-radius: 6px;
  transition: 0.55 all ease-in;
  cursor:pointer;
  color:#000;
  background: linear-gradient(145deg, #e2e8ec, #ffffff);
  box-shadow: 4px 4px 8px #cbcbcb, 4px -4px 8px #ffffff;
}

.btn-shadow:hover {
  background-color: #ff014f;
  color:white;
  transform: translateY(-10px);
}

.box-shadow {
  background: linear-gradient(145deg, #e2e8ec, #ffffff);
  box-shadow: 4px 4px 8px #cbcbcb, 4px -4px 8px #ffffff;
  border-radius: 10px;
}

.logo {
  display: flex;
  justify-content: center;
  letter-spacing: 5px;
  font-weight: 500;
  font-size: large;
}

.header .active .hover {
  height: 12vh;
  position: fixed;
  top: 0;
  z-index: 1000;
  width: 100%;
  background-color: #ecf0f3;
  box-shadow: -1px 11px 24px -11px rgba(0, 0, 0, 0.75);
  transition: 0.5s;
}

.hero-btn {
  margin-top: 20px;
}


.left {
  margin-right:5%;
}

.right {
  width:20px;
  /* position:relative; */
}

.right-img {
  /* background: linear-gradient(145deg, #e2e8ec, #ffffff);
  box-shadow: 4px 4px 8px #cbcbcb, 4px -4px 8px #ffffff; */
  border-radius: 10px;
  height:380px;
  width:510px;
  margin-top:20%;
}
.hero .container .right img{
  
}

.right-img img {
  position:absolute;
  top:35;
  right:5%;
  width:510px;
}

.row, .left, .right {
  width:50%;
}

.top {
  margin-top: 80px;
}

.mtop {
  margin-top: 40px;
}

.heading{
  margin: 50px 0 50px 0;
}

.heading h4{
  color: #ff014f;
  letter-spacing: 2px;
  font-weight: 400;
}

.heading h1 {
  font-size: 60px;
  color: #3c3e41;
}

h1 {
  color: #3c3e41;
}

.grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 35px;
}

p {
  color: #3c3e41;
}

.text-center{
  text-align: center;
}
article img {
  height:400px;
}
footer{
  margin: 20% 0 10% 0;
}

@media (max-width:768px) {
  .grid {
    grid-template-columns: repeat(2, 1fr);
  }
  .left,
  .right {
    width:100%;
  }

  /*--- home.css media screen-----*/

  @media (max-width:768px) {
    .hero .right,
    .hero .left {
      width:100%;
      margin-left: 20px;
    }
    .hero .fflex{
      flex-direction: column;
      flex-direction: column-reverse;
    }
    .hero .right-img{
      width:95%;
      height:54vh;
    }
  }
}